@model DS3Wiki.Models.Weapon

@{
    ViewBag.Title = "Weapon Details";
}

<h2>Weapon Details: @Model.Name</h2>

<hr />

@using (Html.BeginForm(actionName: "Index",
    controllerName: "Weapons",
    method: FormMethod.Get))
{
    <button class="btn btn-warning">← List</button>
}

<br />
<br />

@Html.LabelFor(x => x.Description)
<p>@Model.Description</p>

<br />

<p>This weapon uses the @Model.WeaponArt.Name Weapon Art.</p>
<p>@Model.WeaponArt.Name: @Model.WeaponArt.Description</p>

<br />

<p>This weapon can be dropped from the following enemies:</p>
@{
    foreach (var enemy in Model.Enemies.ToList())
    {
        <p>@Html.ActionLink(@enemy.Name, "Details", "Enemies", new { id = enemy.Id }, null)</p>
    }
}