@model DS3Wiki.Models.Weapon

@{
    ViewBag.Title = "Weapon Details";
}

<h2>Weapon Details</h2>

<br />

@Html.LabelFor(x => x.Name)
<p>@Model.Name</p>

@Html.LabelFor(x => x.Description)
<p>@Model.Description</p>

<br />

<p>This weapon uses the @Model.WeaponArt.Name Weapon Art.</p>
<p>@Model.WeaponArt.Name: @Model.WeaponArt.Description</p>

<br />

<p>It can be dropped from ....</p>