@model DS3Wiki.Models.Weapon

@{
    ViewBag.Title = "Edit Weapon";
}

<h2>Edit Weapon Information</h2>

<hr />

@using (Html.BeginForm())
{
    <div class="form-horizontal">

        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.LabelFor(x => x.Name, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.WeaponArt, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(x => x.WeaponArtId, (SelectList)ViewBag.WeaponArts, "-Select a weapon art-", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Update Weapon" class="btn btn-success" />
            </div>
        </div>

    </div>
}